@font-face {
  font-family: "iconfont"; /* Project id 4653996 */
  src: url('iconfont.woff2?t=1723689212881') format('woff2'),
       url('iconfont.woff?t=1723689212881') format('woff'),
       url('iconfont.ttf?t=1723689212881') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e60d";
}

.icon-home-page:before {
  content: "\e63e";
}

.icon-github:before {
  content: "\e651";
}

.icon-html5:before {
  content: "\e600";
}

.icon-languagecsharp:before {
  content: "\e8f8";
}

.icon-html:before {
  content: "\e745";
}

.icon-html1:before {
  content: "\e68a";
}

.icon-oracle-01:before {
  content: "\e645";
}

.icon-language-swift:before {
  content: "\e7ca";
}

.icon-prog-delphi:before {
  content: "\e66b";
}

.icon-gopher:before {
  content: "\e602";
}

.icon-Oracle:before {
  content: "\ea23";
}

.icon-Oracle1:before {
  content: "\e64d";
}

.icon-webpack:before {
  content: "\e65b";
}

.icon-mysql:before {
  content: "\e667";
}

.icon-php:before {
  content: "\e66c";
}

.icon-rust:before {
  content: "\e685";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-SQLjiankong:before {
  content: "\e622";
}

.icon-Ruby:before {
  content: "\e6a7";
}

.icon-php1:before {
  content: "\e787";
}

.icon-typescript:before {
  content: "\e607";
}

.icon-file-SQL:before {
  content: "\e7c5";
}

.icon-file-SQL1:before {
  content: "\e807";
}

.icon-Angular:before {
  content: "\e798";
}

.icon-webpack1:before {
  content: "\e799";
}

.icon-Vue:before {
  content: "\e79a";
}

.icon-React:before {
  content: "\e79b";
}

.icon-sqlserver:before {
  content: "\e664";
}

.icon-redis:before {
  content: "\e669";
}

.icon-javascript:before {
  content: "\e690";
}

.icon-Ryuyan:before {
  content: "\e65f";
}

.icon-bxl-react:before {
  content: "\e6ef";
}

.icon-Cyuyan:before {
  content: "\e601";
}

.icon-SQLServer:before {
  content: "\e675";
}

.icon-java:before {
  content: "\e6e0";
}

.icon-php2:before {
  content: "\e72c";
}

.icon-go:before {
  content: "\e62d";
}

.icon-java1:before {
  content: "\e639";
}

.icon-php3:before {
  content: "\e64e";
}

.icon-vb:before {
  content: "\e668";
}

.icon-CSS:before {
  content: "\e612";
}

.icon-matlab:before {
  content: "\e666";
}

.icon-swift:before {
  content: "\e699";
}

.icon-typescript1:before {
  content: "\e6a3";
}

.icon-node:before {
  content: "\e603";
}

.icon-git:before {
  content: "\e6ea";
}

.icon-java2:before {
  content: "\e6f5";
}

.icon-electron:before {
  content: "\eb86";
}

.icon-postgresql:before {
  content: "\ec5d";
}

.icon-css:before {
  content: "\e604";
}

.icon-MATLAB:before {
  content: "\e623";
}

.icon-visual_basic:before {
  content: "\f0a8";
}

.icon-css1:before {
  content: "\e618";
}

.icon-Python:before {
  content: "\e891";
}

.icon-DB2:before {
  content: "\e683";
}

.icon-PostgreSQL:before {
  content: "\e8b7";
}

.icon-vue:before {
  content: "\e637";
}

.icon-fortran:before {
  content: "\e605";
}

.icon-typescript_logo:before {
  content: "\e606";
}

.icon-Rust-icon:before {
  content: "\e62f";
}

.icon-kotlin:before {
  content: "\e608";
}

.icon-mysql1:before {
  content: "\e83b";
}

.icon-angular:before {
  content: "\ebec";
}

.icon-node1:before {
  content: "\ec12";
}

.icon-python:before {
  content: "\ec18";
}

.icon-vuejs:before {
  content: "\ec2c";
}

.icon-kotlin1:before {
  content: "\e67e";
}

.icon-a-c:before {
  content: "\e6e1";
}

.icon-GOyuyan-golang-fill:before {
  content: "\e624";
}

.icon-Fortran:before {
  content: "\e609";
}

.icon-ruby:before {
  content: "\e773";
}

.icon-a-c1:before {
  content: "\e652";
}

.icon-a-c2:before {
  content: "\e7c8";
}

.icon-delphi:before {
  content: "\e613";
}

.icon-electron1:before {
  content: "\e61c";
}

.icon-bianzu1:before {
  content: "\e6c0";
}

.icon-Goyuyanguanfangwendang:before {
  content: "\e636";
}

.icon-ruby1:before {
  content: "\e638";
}

.icon-Redis:before {
  content: "\e788";
}

.icon-a-KotlinOneColorLogoonWhiteRGB:before {
  content: "\e60a";
}

.icon-goland:before {
  content: "\e673";
}

.icon-javascript-fill:before {
  content: "\e8e3";
}

.icon-c-cplus:before {
  content: "\e60b";
}

.icon-ruby2:before {
  content: "\e60c";
}

.icon-JavaScript:before {
  content: "\e615";
}

